@import '@styles/variables';

.input {
  border-radius: $input-radius;
  border: 1px solid $border-light;
  padding: $input-paddings;

  &:focus {
    outline: none;
    border: 2px solid $indicator-focused;
  }

  &:hover:not(:disabled, :focus, .input_error) {
    border-color: $border-medium;
  }

  &_error {
    border: 2px solid $indicator-error !important;
  }
}
