$btn-radius: 32px;
$btn-paddings: 16px 32px;
$transition-time: 0.25s;

$bg-brand: #1975ff;
$bg-primary: #fff;
$bg-tertiary: #f9fafb;
$bg-secondary: #5b5e61;
$bg-hover-primary: #0052cc;
$bg-hover-outline-primary: #f0f6ff;

$border-light: #ced2da;
$border-extra-light: #e3e5e5;

$text-title: #292929;
$text-invert: #ffffff;
$text-primary: #141c24;
$text-secondary: #344051;
$text-tertiary: #637083;
$text-error: #f64c4c;
$text-quartenery: #97a1af;
$text-body-primary: #535353;

$bg-primary: #ffffff;
$bg-secondary: #f3f4f6;

$border-light: #ced2da;

$indicator-focused-alternative: #cce0ff;
