@import 'src/styles/variables.scss';

.button {
  box-sizing: border-box;
  border: none;
  border-radius: $btn-radius;
  padding: $btn-paddings;
  transition: background-color $transition-time;
  background-color: inherit;
  outline: none;

  &_contained_primary {
    background-color: $bg-brand;

    &:hover:not(:disabled) {
      background-color: $bg-hover-primary;
    }
    &:focus {
      border: 2px solid $indicator-focused-alternative;
    }
  }

  &_text_primary {
    &:hover:not(:disabled) {
      background-color: $bg-hover-outline-primary;
    }

    &:focus {
      border: 2px solid $indicator-focused-alternative;
    }
    &:disabled {
      border: 2px solid $indicator-focused-alternative;
    }
  }
  &_outlined_primary {
    border: 1px solid $indicator-focused-alternative;

    &:hover:not(:disabled) {
      background-color: $bg-hover-outline-primary;
    }

    &:focus {
      border-width: 2px;
    }

    &:focus {
      background-color: $bg-primary;
    }
  }
  &_link_primary {
    cursor: pointer;
    text-decoration: underline;
  }
  //SECONDARY THEME

  &_contained_secondary {
    background-color: $bg-secondary;

    &:hover:not(:disabled) {
      background-color: #a4a6a7;
    }
    &:focus {
      border: 2px solid $indicator-focused-alternative;
    }
  }

  &_text_secondary {
    &:hover:not(:disabled) {
      background-color: $bg-tertiary;
    }

    &:focus {
      border: 2px solid $border-extra-light;
    }
    &:disabled {
      border: 2px solid $border-extra-light;
    }
  }
  &_outlined_secondary {
    border: 1px solid $border-extra-light;

    &:hover:not(:disabled) {
      background-color: $bg-tertiary;
    }

    &:focus {
      border-width: 2px;
    }

    &:focus {
      background-color: $bg-primary;
    }
  }
  &_link_secondary {
    cursor: pointer;
    text-decoration: underline;
  }
}
