@import '@styles/variables.scss';

.full_width {
  width: 100%;
}

.button {
  border-radius: $btn-radius;
  padding: $btn-paddings;
  transition-duration: $transition-time;
  cursor: pointer;
  border: none;
}

.contained {
  &.primary {
    background-color: $bg-brand;

    &:hover {
      background-color: $bg-hover-primary;
    }
  }
  &.secondary {
    background-color: $bg-secondary;

    &:hover {
      opacity: 0.7;
    }
  }
}

.outlined {
  border: $border-width solid $bg-brand;
  background-color: transparent;
}

.text {
  padding: 0;
  border: none;
  background-color: inherit;
}

.link {
  padding: 0;
  border: none;
  text-decoration: underline;
  background-color: inherit;
}
